<h2>Requirements:</h2>
<ul>
    <li>mouse</li>
    <li>fixed (non-moving) webcam</li>
    <li>laptop or desktop</li>
</ul>
<h2>Recommended:</h2>
<ul>
    <li>good lighting</li>
    <li>full screen window</li>
<!--    <li>turn your head when looking at different parts of the screen</li>-->
    <li>sense of excitement</li>
</ul>

<h2>To Calibrate:</h2>
<ol>
    <li>Sit so that your face fills most or all of the green box in the selfie view, without going over the edge of the edge of the selfie view.</li>
    <li>Once you hit the "Start Calibration" button, click on the 4 corners of the page and continue clicking in various places for 30 seconds.</li>
    <li>As you are clicking, follow the cursor with your eyes and head+. </li>
    <li>Also while you are clicking, move the mouse at only a slow to moderate pace.</li>
</ol>
<button id="start_continue">Start Calibration</button>
<!--<button id="start_continue" disabled>loading</button>-->
