<h2>Description:</h2>
<p> This demo will allow you to search a wikipedia article and <strong>use your eyes to scroll up and down.</strong>
    To do so, first follow the calibration instructions.</p>
<p> This is a demo of the possibilities, not a consumer product. Results will vary based on the quality of your hardware
    and how good your lighting is. For best results carefully the calibration instructions carefully.
</p>
<p><strong>Requirements: </strong>mouse, fixed (non-moving) webcam, and a laptop or desktop*.</p>
<p><sub>*The demo may work on a tablet or phone if you can meet the other requirements, but it has not been tested to do
    so.
</sub></p>
<h3>To Calibrate:</h3>
<ol>
    <li>Click allow when the browser prompts you to let this website use your camera.</li>
    <li>If the browser window is not maximized, maximize the window and refresh now.</li>
    <li>Wait for your image to appear in the top left. This can take bit of time after clicking allow for the camera</li>
    <li>If the camera image is dark, try to improve your lighting so your face can be seen.</li>
    <li>Sit or adjust your camera so that your face fills most or all of the green box in the selfie view, without your head going over the edge of the selfie view.</li>
    <li>Once you hit the "Start Calibration" button, click on the 4 corners of the page and continue clicking in various places for 30 seconds.</li>
    <li>As you are clicking, follow the cursor with your eyes and head. </li>
    <li>Also while you are clicking, move the mouse at no faster than a moderate pace.</li>
</ol>
<button id="start_continue">Start Calibration</button>
