* {
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: 80px auto 60px;
    grid-gap: 2px;
    margin: 20px;
    max-width: 600px;
}
.span2 {
    grid-column-start: span 2;
}
.span3 {
    grid-column-start: span 3;
}
#header {
    text-align: center;
    font-size: 50px;
}
.task {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px;
    grid-gap: 2px;
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
}
.bottom {
    margin-top: 20px;
}
#filter_bar {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 40px;
    border: 1px solid black;
    grid-gap: 2px;
    padding: 2px;
}
.completed {
    text-decoration: line-through;
    background-color: lightgray;
}

button {
    background-color: lightblue;
    border-color:dodgerblue;
    border-radius: 10px;
}
.highlighted {
    background-color: dodgerblue;
}
